<p id="notice"><%= notice %></p>

<h1>Shoppers</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Address</th>
      <th>Name</th>
      <th>Current password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoppers.each do |shopper| %>
      <tr>
        <td><%= shopper.email %></td>
        <td><%= shopper.address %></td>
        <td><%= shopper.name %></td>
        <td><%= shopper.crpw %></td>
        <td><%= link_to 'Show', shopper %></td>
        <td><%= link_to 'Edit', edit_shopper_path(shopper) %></td>
        <td><%= link_to 'Destroy', shopper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shopper', new_shopper_path %>
