<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @admin_n_admin.email %>
</p>

<p>
  <strong>Crpw:</strong>
  <%= @admin_n_admin.crpw %>
</p>

<%= link_to 'Edit', edit_admin_n_admin_path(@admin_n_admin) %> |
<%= link_to 'Back', admin_n_admins_path %>
