<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="card">
    <div class="card-header">
      Login
    </div> <!-- /card-header -->
    <div class="card-body">

      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div> <!-- /actions -->


    </div> <!-- /card-body -->

    <div class="card-footer text-muted">
      <%= render "devise/shared/links" %>
    </div> <!-- /card-footer -->

  </div> <!-- /card -->



<% end %> <!-- /form_for -->



