<h1>Product Categories</h1><br>

    <div class="row">
      <% @categories.each do |category| %>

        <div class="col-md-3">
          <div class="card">
          <%= image_tag category.image.url, class: "card-img-top", style: "height: 200px; padding: 15px;" %>

          <div class="card-body">
            <p style="text-align: center;">
              <%= link_to category.name, category_path(category), class: "btn btn-primary" %>
            </p>
          </div>

          </div>
        </div>

      <% end %>
    </div>

<br>
<h1>Lastest Products</h1><br>

    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-3">
          <div class="card">

            <% if product.discount > 0 %>
              <span style="background-color: red; color: white; padding: 5px; border-radius: 25px; 
                width: 32%; left: 5px; position: relative; top: 8px;">Discount <%= product.discount.to_i %>%</span>
            <% else %>
              <span style="background-color: none; color: white;">Discount!</span>
            <% end %>

          <%= image_tag product.image.url, class: "card-img-top", style: "height: 200px; padding: 15px;" %>

          <div class="card-body">
            <h5 style="text-align: center;"><%= product.name %></h5>

            <% if product.discount > 0 %>
              <p style="text-align: center;">
                <span style="text-decoration: line-through;">
                  <%= number_to_currency(product.unit_price) %>
                 </span>
                <span style="color: limegreen; font-weight: bold;">
                  <%= number_to_currency(product.unit_price-((product.discount/100)*product.unit_price)) %>
                </span>
              </p>
            <% else %>
              <p style="text-align: center;"><%= number_to_currency(product.unit_price) %></p> 
            <% end %>

            <p style="text-align: center;">
              <%= link_to "Add to Cart", product, class: "btn btn-primary" %>
            </p>
          </div>

          </div>
        </div>

      <% end %>
    </div>

<script>

$(document).ready(function(){
  // alert('from products/index.html.erb');
  console.log('from products/index.html.erb');
});

</script>